# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build files
/build/
/bin/
/lib/
/install/

# VS Code
# .vscode/
.VSCodeCounter/

# results
results/
debug/

# ImGui .ini
*imgui.ini

# libtorch
libtorch*

#data
data

gs_render.egg-info
dist
cfg/gaussian_mapper/Stereo/KITTI/runs
models/depth_anything_v2_vitl.onnx
engines
calibration_images
calibration_images_v2
debug_mono
debug_stereo
deprecated
*.adjusted
*.engine